.random-planet {
  display: flex;
  align-items: center;
  background-color: #303030;
  border-radius: 3px;
  padding: 20px;
  margin-top: 3rem;
  border: 1px solid #444;
  margin-bottom: 3rem;
  min-height: 5rem;
}

.random-planet__img {
  width: 200px;
  border-radius: 4px;
}

.random-planet__text {
  margin-left: 5rem;
}

.random-planet__header {
  font-size: 26px;
  font-weight: 900;
}

.random-planet .loader {
  margin: 0 auto;
}

.list-group-item:hover {
  background-color: #525151;
  cursor: pointer;
}
